{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "overrides": [
    {
        "files": "*.sol",
        "options": {
            "tabWidth": 4,
            "explicitTypes": "always",
            "printWidth": 80,
            "useTabs": false,
            "singleQuote": false,
            "bracketSpacing": false
        }
    }
]
}
